@import "normalize.css"
@import "base.css"

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.hidden,
[hidden] {
    display: none !important;
}
